/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.gradien {
	-fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}
.Login-btn {
	-fx-background-color: #7f8c8d;
	-fx-cursor:hand;
	-fx-text-fill:#fff;
	-fx-border-width:1px;
}
.Login-btn:hover {
	-fx-background-color:#fff;
	-fx-text-fill:#000;
}
.create_new_acc-btn {
	-fx-background-color: #535c68;
	-fx-cursor:hand;
	-fx-text-fill:#fff;
	-fx-border-width:1px;
}
.create_new_acc-btn:hover {
	-fx-background-color:#fff;
	-fx-text-fill:#000;
}